<h1>Select a field</h1>
<div class="grid">
    <div class="block">
        <a href="/projects?field=Computer%20Science">
            <img class="field-img" src="/imgs/cs/cs.jpg">
            <h2>Computer Science</h2>
        </a>
    </div>

    <div class="block">
        <a href="/projects?field=Marketing">
            <img class="field-img" src="/imgs/marketing/marketing.png">
            <h2>Marketing</h2>

        </a>
    </div>

    <div class="block">
        <a href="/projects?field=UI/UX">
            <img class="field-img" src="/imgs/ui/ui.jpg">
            <h2>UI/UX</h2>

        </a>
    </div>


</div>